APP_NAME=GroceryGo
APP_ENV=local
APP_KEY=base64:PR+4E3RwfFPcJx6X+plyt1pyvewDeINN2NspGKFutpE=
APP_DEBUG=true
APP_URL=http://localhost/GG-TP

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=oracle
DB_TNS=192.168.1.64:1521/XEPDB1
DB_HOST=192.168.1.64
DB_PORT=1521
DB_DATABASE=XEPDB1
DB_SERVICE_NAME=XEPDB1
DB_USERNAME=NEPSA
DB_PASSWORD=Nepsa@12345
DB_CHARSET=AL32UTF8

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/GG-TP
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendmail
MAIL_SENDMAIL_PATH="C:/xampp/sendmail/sendmail.exe -t"
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=nsachet24@tbc.edu.np
MAIL_FROM_NAME="GroceryGO"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=Ab1XRVYlRBkhgUpIzbw65ySRmU5cMQ_O5h3NM36kHFHxUEF8j_Ii_tXBYcQF7DhePS6xELqS5B2wEEgb
PAYPAL_CLIENT_SECRET=EEqbn8dNUB0mqPFjjLMBY3r3_r4ZRxr1Zu38b2emlLb_qAQHq--uT6wigh4xubP2UfCO5wN3SmKyhVcF
PAYPAL_SECRET=EEqbn8dNUB0mqPFjjLMBY3r3_r4ZRxr1Zu38b2emlLb_qAQHq--uT6wigh4xubP2UfCO5wN3SmKyhVcF
PAYPAL_CURRENCY=USD
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
SHOP_CURRENCY=USD
SHOP_CURRENCY_SYMBOL=$
